body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 14px;
  color: #404040;
}

h1, h2, h3, h4 {
  color: #98bf21;
}

.label, label {
  color: #98bf21;
  font-weight: bold;
}

.error {
  color: red;
  margin-top: 15px;
  font-family: monospace;
  white-space: pre;
}

button {
  color: white;
  background-color: #98bf21;
  border: 1px outset #98bf21;
  margin-top: 10px;
  font-weight: bold;
}

table {
  border: 1px solid #98bf21;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background: #EAF2D3;
}

th {
  text-align: left;
  padding: 3px 3px 3px 3px;
  background-color: #A7C942;
  color: white;
}

td {
  vertical-align: top;
  border: 1px solid #98bf21;
  padding: 2px 5px 2px 5px;
}

#query {
  margin-left: 10px;
  margin-right: 10px;
}

/* Pages:1 2 3 ... 10    190 hits in 0.323 sec */
.summary {
  margin-top: 15px;
  margin-bottom: 5px;
}

.page {
  margin-left: 5px;
}

.stats {
  margin-left: 100px;
}

.snippet {
  display: block;
  white-space: pre;
  border: 1px solid #A7C942;
  border-radius: 5px;
  margin-bottom: 2px;
}

.snippet > em {
  font-style: normal;
  font-weight: bold;
  white-space: pre;
}

.mainDoc > a.doc {
  display: block;
}

.embeddedDoc > .text {
  margin-left: 5px;
}

.meta {
  margin-left: 10px;
}

.ui-tooltip {
  max-width: 700px;
}

.contentPopup {
  white-space: pre;
}

